/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

.full-name {
	color: #031d3d;
	font-family:"Arial";
}

.job-title {
	color: #19376c;
	font-family:"Arial";
}

.email-address {
	color: #19376c;
	font-family:"Arial";
}

.logo {
	-webkit-filter: drop-shadow(0 .05rem .1rem rgba(0,0,0,.5));
	filter: drop-shadow(0 .05rem .1rem rgba(0,0,0,.5));
}