/* home */
.card-footer {
	border-top: none;
}
.inner {
	margin-top: 10%;
}

/* profile */
/*
.basic-profile {
	padding: 10%;
}


.basic-profile-networking {
	margin-top: 20%;
}

.basic-profile-info {
	margin-top: 80%;
}

.basic-profile-content-paragraph {
	margin-top: 5%;
}
*/